* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

body {
  overflow-x: hidden;
}

/* --------- top hader --------------------------------------------------------------------- */
.topheader {
  padding: 0 25rem;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(90deg, #ef8747 20%, #ff6c23 100%);
}

.topmanu {
  display: flex;
  gap: 1rem;
  color: #fff;
  list-style-type: none;
}

.topmanu a {
  color: #fff;
  text-decoration: none;
}

.topso {
  display: flex;
  gap: 1rem;
  color: #fff;
  list-style-type: none;
}

.topso a {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .topheader {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .topheader {
    /* display: none; */
    padding: 0 10rem;
  }
}

@media only screen and (min-width: 992px) {
  .topheader {
    padding: 0 15rem;
  }
}

@media only screen and (min-width: 1200px) {
  .topheader {
    padding: 0 25rem;
  }
}


/*  ---- mid hader ------------------------------------------------------------------------- */

.midheader {
  padding: 0 5%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.ads img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .ads img {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .midheader {
    padding: 0 10%;
  }
}

@media only screen and (min-width: 992px) {
  .midheader {
    padding: 0 15%;
  }
}

@media only screen and (min-width: 1200px) {
  .midheader {
    padding: 0 25rem;
  }
}


/* --------- bot had ---------------------------------------------------------- */

.botheader {
  padding: 0 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 3px 6px -6px black;

}

.burger-icon,
.search-icon {
  display: flex;
}

.burger-icon img,
.search-icon i {
  height: 20px;
  width: 20px;
}

.botmanu {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  padding: 0 0 1.5rem 2rem;
  background-color: #fff;
  box-shadow: 0 3px 6px -6px black;
}

.botmanu a {
  color: #000;
  text-decoration: none;
  transition: all 0.5s ease;
}

.botmanu a:hover {
  color: #ff6c23;
  opacity: 1;
}

@media screen and (max-width: 768px) {

  .burger-icon,
  .search-icon {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .botheader {
    padding: 0 10%;
  }

  .botmanu {
    display: flex;
  }
}

@media only screen and (min-width: 992px) {
  .botheader {
    padding: 0 15%;
  }
}

@media only screen and (min-width: 1200px) {
  .botheader {
    padding: 0 25rem;
  }
}


/* ============ min bolg ===========  */

.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  width: 100%;
}

.dimng {
  display: flex;

}

.dimng .sim {
  padding-left: 5px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* ================  2 ========== */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  padding: 10px 20% 10px 20%;
}
@media screen and (max-width: 800px) {
  .container {
    padding: 15px;
  }
}
.container img {
  width: 100%;
  display: block;
  transition: all 100ms ease-out;
}

/* ================= 3 ===================== */



/* ---------- bot fut manu  - --- */
.botfooter {
  padding: 0 25rem;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e0ded86b;
  font-size: 12px;
}

.copy {
  color: #50504a;
}

.fotmanu {
  display: flex;
  gap: 1rem;
  color: #fff;
  list-style-type: none;
}

.fotmanu a {
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .botfooter {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .botfooter {
    padding: 0 10%;
  }

  .botmanu {
    display: flex;
  }
}

@media only screen and (min-width: 992px) {
  .botfooter {
    padding: 0 15%;
  }
}

@media only screen and (min-width: 1200px) {
  .botfooter {
    padding: 0 25rem;
  }
}

/*  abmow fot */

.foot {
  height: 35rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e0ded86b;
  font-size: 12px;
}

.about_text {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 25px;
}

.about img {
  padding-bottom: 15px;
}

.about .text {
  padding-bottom: 25px;
  font-size: 14px;
  line-height: 25px;
  color: #424141;
}

.foot_social_icon {
  display: flex;
  
  gap: 1rem;
  list-style-type: none;
  color: #000;

}

.foot_social_icon a {
  color: #000;
  font-size: 25px;
  padding-left: 10px;
}

.our_text {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 30px;
}

.post h5 {
  font-size: 14px;
  color: #272727;
  margin-top: 15px;
  margin-left: 20px;
}

.post samp {
  font-size: 10px;
  color: #949090;
}

.post1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.post2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.post3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

h5 {
  margin-left: 10px;
}

hr {
  margin-bottom: 15px;
  color: #fff;
}
